## 2020年07月18日（课后作业）

### 1. 导入必要的库

In [13]:
# 导入 numpy 和 pandas 库
import numpy as np
import pandas as pd

### 2. 导入数据集合

In [5]:
inputData = pd.read_csv("snack.csv", sep='\t')

### 3.查看前10行的数据内容

In [14]:
print("前10行: \n%s" % inputData.head(10))

前10行:
   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

### 4. 数据集中有多少个列(columns)

In [31]:
print("数据集中有 %d 列，%d 列" % (len(inputData.columns), inputData.shape[1]))

数据集中有 5 列，5 列

### 5. 打印全部列名

In [79]:
print("数据集全部列名：\n %s" % inputData.columns)

数据集全部列名：
 Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### 6. 数据集的索引是怎样的

In [80]:
print("数据集索引：\n %s" % inputData.index)

数据集索引：
 RangeIndex(start=0, stop=4622, step=1)

### 7. 被下单数量最多的商品（item）是什么

In [104]:
grouped = pd.DataFrame(inputData.groupby('item_name')['quantity'].sum().sort_values(ascending=False).head(1))
print("被下单数量最多的商品是：\n %s" % grouped)

被下单数量最多的商品是：
               quantity
item_name
Chicken Bowl       761

### 8. 在 item_name 这一列中，一共有多少种商品被下单

In [101]:
count = pd.DataFrame(inputData.groupby('item_name')).count()
print(" item_name 这一列中有 \n %s \n 种商品被下单" % count)

 item_name 这一列中有
 0    50
1    50
dtype: int64
 种商品被下单

### 9. 在 choice_description 中，下单次数最多的商品是什么

In [109]:
selected = []
description = inputData['choice_description'].dropna()
for index,ele in enumerate(description):
    itemList = ele.split(',')
    for jdx, value in enumerate(itemList):
        selected.append(value.strip())
processed = pd.DataFrame({'item_name':pd.Series(selected), 'unit':pd.Series(np.ones(len(selected), dtype=int))})
processedResult = pd.DataFrame(processed.groupby('item_name')['unit'].sum().sort_values(ascending = False)).head(1)
print("9 在 choice_description 中，下单次数最多的商品是 \n%s" % processedResult)

9 在 choice_description 中，下单次数最多的商品是
           unit
item_name
Cheese     1887

### 10. 一共有多少商品下单

In [113]:
selected10 = list(selected)
inputData['item_name'].apply(lambda item: selected10.append(item))
processed10 = pd.DataFrame({'item_name':pd.Series(selected10), 'unit':pd.Series(np.ones(len(selected10), dtype=int))})
print("10 一共有多少商品被下单？\n %s" % pd.DataFrame(processed10.groupby('item_name')).count())

10 一共有多少商品被下单？
 0    153
1    153
dtype: int64

### 11. 将 item_price 转换为浮点数

In [114]:
inputData['item_price'] = inputData['item_price'].apply(lambda item:item[1:]).apply(pd.to_numeric)
inputData['total_price'] = inputData.apply(lambda item:item['item_price']*item['quantity'], axis=1)
print("11. 已经转换过后的 DataFrame 为：\n %s" % inputData)

11. 已经转换过后的 DataFrame 为：
       order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description  item_price  \
0                                                   NaN        2.39
1                                          [Clementine]        3.39
2                                               [Apple]        3.39
3                                                   NaN        2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...       16.98
...                                                 ...         ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...       11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...       11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...       11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...        8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...        8.75

      total_price
0            2.39
1            3.39
2            3.39
3            2.39
4           33.96
...           ...
4617        11.75
4618        11.75
4619        11.25
4620         8.75
4621         8.75

[4622 rows x 6 columns]

### 12. 在该数据集对应的时期内，收入（revenue）是多少

In [115]:
print("12 在该数据集对应的时期内，收入(revenue)是多少:\n %s" % inputData['total_price'].sum())

12 在该数据集对应的时期内，收入(revenue)是多少:
 39237.02

### 13. 在该数据集对应的时间内，一共有多少订单

In [117]:
print("13 订单总数量：%s" % pd.DataFrame(inputData.groupby('order_id')).count())

13 订单总数量：0    1834
1    1834
dtype: int64

### 14. 每一单（order_id）的平均总价是

In [118]:
print("14  每一单(order)对应的平均总价是多少:\n %s" % inputData.groupby('order_id')['total_price'].mean())

14  每一单(order)对应的平均总价是多少:
 order_id
1        2.890000
2       33.960000
3        6.335000
4       10.500000
5        6.850000
          ...
1830    11.500000
1831     4.300000
1832     6.600000
1833    11.750000
1834     9.583333
Name: total_price, Length: 1834, dtype: float64