In [2]:
#导入相关库
import pandas as pd
import numpy as np
import time
import datetime

在计算机中，时间实际上是用数字表示的。  
我们把1970年1月1日 00:00:00 UTC+00:00时区的时刻称为epoch time(纪元)，记为0（1970年以前的时间timestamp为负数），当前时间就是相对于epoch time的秒数，称为timestamp。   
timestamp的值与时区毫无关系，因为timestamp一旦确定，其UTC时间就确定了，转换到任意时区的时间也是完全确定的，这就是为什么计算机存储的当前时间是以timestamp表示的，因为全球各地的计算机在任意时刻的timestamp都是完全相同的（假定时间已校准）。

In [3]:
import time
time.time() #1970年到现在经过的秒

1595150501.115246

In [6]:
time.time()

1595150608.5774448

In [5]:
time.sleep(5) 
print(1)

1

# 时间戳Timestamp对象的生成

## pd.Timestamp

In [8]:
pd.Timestamp(1595150608.5774448,unit='s') #时刻，时间戳

Timestamp('2020-07-19 09:23:28.577444792')

In [9]:
type(pd.Timestamp(164913461,unit='s'))

pandas._libs.tslibs.timestamps.Timestamp

In [10]:
pd.Timestamp("2019-12-12")

Timestamp('2019-12-12 00:00:00')

In [11]:
pd.Timestamp("2019/12/12")

Timestamp('2019-12-12 00:00:00')

In [12]:
pd.Timestamp(2019,12,12)

Timestamp('2019-12-12 00:00:00')

In [13]:
 pd.Timestamp(year=2019, month=12, day=12, hour=0,minute=0,second=0)

Timestamp('2019-12-12 00:00:00')

## pd.to_datetime

处理日期序列

In [14]:
mydate=pd.Series(["2019/12/10","2019/12/11","2019/12/12"])
pd.to_datetime(mydate)

0   2019-12-10
1   2019-12-11
2   2019-12-12
dtype: datetime64[ns]

In [16]:
pd.to_datetime(mydate)[0]

Timestamp('2019-12-10 00:00:00')

In [17]:
mydate=pd.Series(["2019-12-10","2019-12-11","2019-12-12"])
pd.to_datetime(mydate)

0   2019-12-10
1   2019-12-11
2   2019-12-12
dtype: datetime64[ns]

In [21]:
pd.to_datetime("2019*12*12",format="%Y*%m*%d")

Timestamp('2019-12-12 00:00:00')

In [24]:
pd.to_datetime("20200709")

Timestamp('2020-07-09 00:00:00')

## pd.date_range

In [26]:
s1=pd.date_range('2011-1-20',  freq='H',periods=8) 
s1

DatetimeIndex(['2011-01-20 00:00:00', '2011-01-20 01:00:00',
               '2011-01-20 02:00:00', '2011-01-20 03:00:00',
               '2011-01-20 04:00:00', '2011-01-20 05:00:00',
               '2011-01-20 06:00:00', '2011-01-20 07:00:00'],
              dtype='datetime64[ns]', freq='H')

In [27]:
s1[0]

Timestamp('2011-01-20 00:00:00', freq='H')

In [28]:
s1=pd.date_range('2011-1-20',  '2011-1-30',freq='D') 
s1

DatetimeIndex(['2011-01-20', '2011-01-21', '2011-01-22', '2011-01-23',
               '2011-01-24', '2011-01-25', '2011-01-26', '2011-01-27',
               '2011-01-28', '2011-01-29', '2011-01-30'],
              dtype='datetime64[ns]', freq='D')

# 日期数据转化

In [29]:
raw_data=pd.read_excel("上证指数收盘价历史数据(1990-2017.9).xlsx",header=0)
raw_data.head()

,日期,收盘价,最高价,最低价,开盘价,涨跌额,涨跌幅,成交量,成交额
0,2017-09-14,3371.4256,3391.6435,3361.3335,3383.4700,-12.7214,-0.3759,221306487,256744421274
1,2017-09-13,3384.1470,3387.1397,3366.5412,3374.7185,4.659,0.1379,194550715,230733408867
2,2017-09-12,3379.4880,3391.0694,3370.8519,3381.4870,3.0692,0.0909,272910319,325024951982
3,2017-09-11,3376.4188,3384.8100,3360.0462,3365.3506,11.1762,0.3321,219011019,256888810547
4,2017-09-08,3365.2426,3380.8898,3353.6876,3364.4275,-0.2548,-0.0076,198405184,235160227356

In [32]:
raw_data['日期'][0]

Timestamp('2017-09-14 00:00:00')

In [30]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6542 entries, 0 to 6541
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   日期      6542 non-null   datetime64[ns]
 1   收盘价     6542 non-null   float64
 2   最高价     6542 non-null   float64
 3   最低价     6542 non-null   float64
 4   开盘价     6542 non-null   float64
 5   涨跌额     6542 non-null   object
 6   涨跌幅     6542 non-null   object
 7   成交量     6542 non-null   int64
 8   成交额     6542 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(1), object(3)
memory usage: 460.1+ KB

如果日期字段不是datetime格式的呢？比如object格式？该如何转化为datetime格式？

In [33]:
date=raw_data.日期.astype(str)
date

0       2017-09-14
1       2017-09-13
2       2017-09-12
3       2017-09-11
4       2017-09-08
           ...
6537    1990-12-25
6538    1990-12-24
6539    1990-12-21
6540    1990-12-20
6541    1990-12-19
Name: 日期, Length: 6542, dtype: object

In [32]:
pd.to_datetime(date).head()

0   2017-09-14
1   2017-09-13
2   2017-09-12
3   2017-09-11
4   2017-09-08
Name: 日期, dtype: datetime64[ns]

##  转化为指定格式.dt.strftime()

In [34]:
raw_data.日期.head()

0   2017-09-14
1   2017-09-13
2   2017-09-12
3   2017-09-11
4   2017-09-08
Name: 日期, dtype: datetime64[ns]

In [35]:
raw_data.日期.dt.strftime("%m/%d/%Y").head()#数据类型会发生了变化

0    09/14/2017
1    09/13/2017
2    09/12/2017
3    09/11/2017
4    09/08/2017
Name: 日期, dtype: object

In [13]:
raw_data.日期.dt.strftime("%Y").head()

0    2017
1    2017
2    2017
3    2017
4    2017
Name: 日期, dtype: object

## 提取时间元素

In [36]:
raw_data.head()

,日期,收盘价,最高价,最低价,开盘价,涨跌额,涨跌幅,成交量,成交额
0,2017-09-14,3371.4256,3391.6435,3361.3335,3383.4700,-12.7214,-0.3759,221306487,256744421274
1,2017-09-13,3384.1470,3387.1397,3366.5412,3374.7185,4.659,0.1379,194550715,230733408867
2,2017-09-12,3379.4880,3391.0694,3370.8519,3381.4870,3.0692,0.0909,272910319,325024951982
3,2017-09-11,3376.4188,3384.8100,3360.0462,3365.3506,11.1762,0.3321,219011019,256888810547
4,2017-09-08,3365.2426,3380.8898,3353.6876,3364.4275,-0.2548,-0.0076,198405184,235160227356

In [37]:
raw_data.日期.dt.year #把年取出来，是一个int类型

0       2017
1       2017
2       2017
3       2017
4       2017
        ...
6537    1990
6538    1990
6539    1990
6540    1990
6541    1990
Name: 日期, Length: 6542, dtype: int64

In [38]:
raw_data.日期.dt.month #把月调出来是一个int类型

0        9
1        9
2        9
3        9
4        9
        ..
6537    12
6538    12
6539    12
6540    12
6541    12
Name: 日期, Length: 6542, dtype: int64

In [39]:
raw_data.日期.dt.day#把日调出来是一个int类型

0       14
1       13
2       12
3       11
4        8
        ..
6537    25
6538    24
6539    21
6540    20
6541    19
Name: 日期, Length: 6542, dtype: int64

In [40]:
raw_data.日期.dt.date#把日期调出来,是一个object类型

0       2017-09-14
1       2017-09-13
2       2017-09-12
3       2017-09-11
4       2017-09-08
           ...
6537    1990-12-25
6538    1990-12-24
6539    1990-12-21
6540    1990-12-20
6541    1990-12-19
Name: 日期, Length: 6542, dtype: object

In [41]:
raw_data.日期.dt.time #把时间调出来,是一个object类型

0       00:00:00
1       00:00:00
2       00:00:00
3       00:00:00
4       00:00:00
          ...
6537    00:00:00
6538    00:00:00
6539    00:00:00
6540    00:00:00
6541    00:00:00
Name: 日期, Length: 6542, dtype: object

注意，上面提取的Series，都是object类型，要转化为datatime类型，还是需要用to_datetime方法。

# 日期索引对象DatetimeIndex

DatetimeIndex 的主要作用是之一是用作 Pandas 对象的索引，使用它作为索引除了拥有普通索引对象的所有基本功能外，还拥有简化频率处理的高级时间序列方法。

In [42]:
raw_data=pd.read_excel("上证指数收盘价历史数据(1990-2017.9).xlsx",header=0)
raw_data.head()

,日期,收盘价,最高价,最低价,开盘价,涨跌额,涨跌幅,成交量,成交额
0,2017-09-14,3371.4256,3391.6435,3361.3335,3383.4700,-12.7214,-0.3759,221306487,256744421274
1,2017-09-13,3384.1470,3387.1397,3366.5412,3374.7185,4.659,0.1379,194550715,230733408867
2,2017-09-12,3379.4880,3391.0694,3370.8519,3381.4870,3.0692,0.0909,272910319,325024951982
3,2017-09-11,3376.4188,3384.8100,3360.0462,3365.3506,11.1762,0.3321,219011019,256888810547
4,2017-09-08,3365.2426,3380.8898,3353.6876,3364.4275,-0.2548,-0.0076,198405184,235160227356

In [43]:
data=raw_data.copy()   #复制，浅拷贝

In [44]:
data.head()

,日期,收盘价,最高价,最低价,开盘价,涨跌额,涨跌幅,成交量,成交额
0,2017-09-14,3371.4256,3391.6435,3361.3335,3383.4700,-12.7214,-0.3759,221306487,256744421274
1,2017-09-13,3384.1470,3387.1397,3366.5412,3374.7185,4.659,0.1379,194550715,230733408867
2,2017-09-12,3379.4880,3391.0694,3370.8519,3381.4870,3.0692,0.0909,272910319,325024951982
3,2017-09-11,3376.4188,3384.8100,3360.0462,3365.3506,11.1762,0.3321,219011019,256888810547
4,2017-09-08,3365.2426,3380.8898,3353.6876,3364.4275,-0.2548,-0.0076,198405184,235160227356

把上面的日期字段，转化为datetime类型，然后作为DataFrame的索引对象，会有什么效果？

In [45]:
data=data.set_index('日期')
data

,收盘价,最高价,最低价,开盘价,涨跌额,涨跌幅,成交量,成交额
日期,,,,,,,,
2017-09-14,3371.4256,3391.6435,3361.3335,3383.4700,-12.7214,-0.3759,221306487,256744421274
2017-09-13,3384.1470,3387.1397,3366.5412,3374.7185,4.659,0.1379,194550715,230733408867
2017-09-12,3379.4880,3391.0694,3370.8519,3381.4870,3.0692,0.0909,272910319,325024951982
2017-09-11,3376.4188,3384.8100,3360.0462,3365.3506,11.1762,0.3321,219011019,256888810547
2017-09-08,3365.2426,3380.8898,3353.6876,3364.4275,-0.2548,-0.0076,198405184,235160227356
...,...,...,...,...,...,...,...,...
1990-12-25,120.2500,120.2500,114.5500,120.0900,5.7,4.976,15,6000
1990-12-24,114.5500,114.5500,109.1300,113.5700,5.42,4.9666,32,31000
1990-12-21,109.1300,109.1300,103.7300,109.0700,4.74,4.5407,28,16000
1990-12-20,104.3900,104.3900,99.9800,104.3000,4.41,4.4109,197,84000
1990-12-19,99.9800,99.9800,95.7900,96.0500,None,None,1260,494000

## 索引和切片

In [46]:
data.head()

,收盘价,最高价,最低价,开盘价,涨跌额,涨跌幅,成交量,成交额
日期,,,,,,,,
2017-09-14,3371.4256,3391.6435,3361.3335,3383.4700,-12.7214,-0.3759,221306487,256744421274
2017-09-13,3384.1470,3387.1397,3366.5412,3374.7185,4.659,0.1379,194550715,230733408867
2017-09-12,3379.4880,3391.0694,3370.8519,3381.4870,3.0692,0.0909,272910319,325024951982
2017-09-11,3376.4188,3384.8100,3360.0462,3365.3506,11.1762,0.3321,219011019,256888810547
2017-09-08,3365.2426,3380.8898,3353.6876,3364.4275,-0.2548,-0.0076,198405184,235160227356

In [85]:
data["2017-09-14"]

,收盘价,最高价,最低价,开盘价,涨跌额,涨跌幅,成交量,成交额
日期,,,,,,,,
2017-09-14,3371.4256,3391.6435,3361.3335,3383.47,-12.7214,-0.3759,221306487,256744421274

In [86]:
data["2017-09-14":"2017-09-11"]

,收盘价,最高价,最低价,开盘价,涨跌额,涨跌幅,成交量,成交额
日期,,,,,,,,
2017-09-14,3371.4256,3391.6435,3361.3335,3383.4700,-12.7214,-0.3759,221306487,256744421274
2017-09-13,3384.1470,3387.1397,3366.5412,3374.7185,4.659,0.1379,194550715,230733408867
2017-09-12,3379.4880,3391.0694,3370.8519,3381.4870,3.0692,0.0909,272910319,325024951982
2017-09-11,3376.4188,3384.8100,3360.0462,3365.3506,11.1762,0.3321,219011019,256888810547

In [47]:
data.sort_index().head()

               收盘价     最高价     最低价     开盘价   涨跌额     涨跌幅   成交量     成交额
日期
1990-12-19   99.98   99.98   95.79   96.05  None    None  1260  494000
1990-12-20  104.39  104.39   99.98  104.30  4.41  4.4109   197   84000
1990-12-21  109.13  109.13  103.73  109.07  4.74  4.5407    28   16000
1990-12-24  114.55  114.55  109.13  113.57  5.42  4.9666    32   31000
1990-12-25  120.25  120.25  114.55  120.09   5.7   4.976    15    6000

## 其他方法

In [48]:
data.head()

,收盘价,最高价,最低价,开盘价,涨跌额,涨跌幅,成交量,成交额
日期,,,,,,,,
2017-09-14,3371.4256,3391.6435,3361.3335,3383.4700,-12.7214,-0.3759,221306487,256744421274
2017-09-13,3384.1470,3387.1397,3366.5412,3374.7185,4.659,0.1379,194550715,230733408867
2017-09-12,3379.4880,3391.0694,3370.8519,3381.4870,3.0692,0.0909,272910319,325024951982
2017-09-11,3376.4188,3384.8100,3360.0462,3365.3506,11.1762,0.3321,219011019,256888810547
2017-09-08,3365.2426,3380.8898,3353.6876,3364.4275,-0.2548,-0.0076,198405184,235160227356

In [49]:
data.index.dayofweek #星期1是第0天

Int64Index([3, 2, 1, 0, 4, 3, 2, 1, 0, 4,
            ...
            2, 0, 4, 3, 2, 1, 0, 4, 3, 2],
           dtype='int64', name='日期', length=6542)

In [61]:
data.index.dayofyear

Int64Index([257, 256, 255, 254, 251, 250, 249, 248, 247, 244,
            ...
              2, 365, 362, 361, 360, 359, 358, 355, 354, 353],
           dtype='int64', name='日期', length=6542)

In [54]:
data.index.weekofyear

Int64Index([37, 37, 37, 37, 36, 36, 36, 36, 36, 35,
            ...
             1,  1, 52, 52, 52, 52, 52, 51, 51, 51],
           dtype='int64', name='日期', length=6542)

In [55]:
data.index.is_month_start

array([False, False, False, ..., False, False, False])

我们可以通过 Timestamp 或 DateTimeIndex 访问一些时间/日期的属性。

这里列举一些常见的，想要查看所有的属性见官方链接：

Time/Date Components (http://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components)

In [56]:
data.index.is_month_end

array([False, False, False, ..., False, False, False])

DateOffset 从名称中就可以看出来是要做日期偏移的，它的参数与 dateutil.relativedelta 基本相同，工作方式如下

In [50]:
data.index+pd.DateOffset(years=1,months=0, days=0)

DatetimeIndex(['2018-09-14', '2018-09-13', '2018-09-12', '2018-09-11',
               '2018-09-08', '2018-09-07', '2018-09-06', '2018-09-05',
               '2018-09-04', '2018-09-01',
               ...
               '1992-01-02', '1991-12-31', '1991-12-28', '1991-12-27',
               '1991-12-26', '1991-12-25', '1991-12-24', '1991-12-21',
               '1991-12-20', '1991-12-19'],
              dtype='datetime64[ns]', name='日期', length=6542, freq=None)

# 与时间序列相关的方法

在做时间序列相关的工作时，经常要对时间做一些移动/滞后、频率转换、采样等相关操作，我们来看下这些操作如何使用吧。

## 移动df.shift()

如果你想移动或滞后时间序列，你可以使用 shift 方法。

In [51]:
index = pd.date_range("2018-6-24", periods=4, freq="W")
ts = pd.Series(['吃饭', '睡觉', '上厕所', '打豆豆'], index=index)
ts

2018-06-24     吃饭
2018-07-01     睡觉
2018-07-08    上厕所
2018-07-15    打豆豆
Freq: W-SUN, dtype: object

In [60]:
ts.shift(2)       #将数据往下移两位

2018-06-24    NaN
2018-07-01    NaN
2018-07-08     吃饭
2018-07-15     睡觉
Freq: W-SUN, dtype: object

In [63]:
ts.shift(-2)     #将数据往上移两位

2018-06-24    上厕所
2018-07-01    打豆豆
2018-07-08    NaN
2018-07-15    NaN
Freq: W-SUN, dtype: object

可以看到，Series 所有的值都移动了 2 个距离。

如果不想移动值，而是移动日期索引，可以使用 freq 参数，它可以接受一个 DateOffset 类或其他timedelta 类对象或一个 offset 别名。

所有别名详细介绍见：Offset Aliases (http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases)

In [52]:
ts

2018-06-24     吃饭
2018-07-01     睡觉
2018-07-08    上厕所
2018-07-15    打豆豆
Freq: W-SUN, dtype: object

In [53]:
ts.shift(2, freq='D')

2018-06-26     吃饭
2018-07-03     睡觉
2018-07-10    上厕所
2018-07-17    打豆豆
Freq: W-TUE, dtype: object

## 频率转换df.asfreq()

频率转换可以使用 asfreq 函数来实现。下面演示了将频率由周转为了天

In [54]:
data.head()

,收盘价,最高价,最低价,开盘价,涨跌额,涨跌幅,成交量,成交额
日期,,,,,,,,
2017-09-14,3371.4256,3391.6435,3361.3335,3383.4700,-12.7214,-0.3759,221306487,256744421274
2017-09-13,3384.1470,3387.1397,3366.5412,3374.7185,4.659,0.1379,194550715,230733408867
2017-09-12,3379.4880,3391.0694,3370.8519,3381.4870,3.0692,0.0909,272910319,325024951982
2017-09-11,3376.4188,3384.8100,3360.0462,3365.3506,11.1762,0.3321,219011019,256888810547
2017-09-08,3365.2426,3380.8898,3353.6876,3364.4275,-0.2548,-0.0076,198405184,235160227356

In [55]:
data=data.sort_index()
data.head()

               收盘价     最高价     最低价     开盘价   涨跌额     涨跌幅   成交量     成交额
日期
1990-12-19   99.98   99.98   95.79   96.05  None    None  1260  494000
1990-12-20  104.39  104.39   99.98  104.30  4.41  4.4109   197   84000
1990-12-21  109.13  109.13  103.73  109.07  4.74  4.5407    28   16000
1990-12-24  114.55  114.55  109.13  113.57  5.42  4.9666    32   31000
1990-12-25  120.25  120.25  114.55  120.09   5.7   4.976    15    6000

In [56]:
data.asfreq(freq='2D')

,收盘价,最高价,最低价,开盘价,涨跌额,涨跌幅,成交量,成交额
日期,,,,,,,,
1990-12-19,99.9800,99.9800,95.7900,96.0500,None,None,1260.0,494000
1990-12-21,109.1300,109.1300,103.7300,109.0700,4.74,4.5407,28.0,16000
1990-12-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-12-25,120.2500,120.2500,114.5500,120.0900,5.7,4.976,15.0,6000
1990-12-27,125.2800,125.2800,125.2700,125.2700,0.01,0.008,66.0,104000
...,...,...,...,...,...,...,...,...
2017-09-06,3385.3888,3391.0105,3364.7645,3372.4277,1.0718,0.0317,229090785.0,262034653491
2017-09-08,3365.2426,3380.8898,3353.6876,3364.4275,-0.2548,-0.0076,198405184.0,235160227356
2017-09-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-09-12,3379.4880,3391.0694,3370.8519,3381.4870,3.0692,0.0909,272910319.0,325024951982
2017-09-14,3371.4256,3391.6435,3361.3335,3383.4700,-12.7214,-0.3759,221306487.0,256744421274