In [4]:
#导入相关库
import pandas as pd
import numpy as np
import time
import datetime
import matplotlib.pyplot as plt

# 解决坐标轴刻度负号乱码
plt.rcParams['axes.unicode_minus'] = False

# 解决中文乱码问题
plt.rcParams['font.sans-serif'] = ['Simhei']

在计算机中，时间实际上是用数字表示的。  
我们把1970年1月1日 00:00:00 UTC+00:00时区的时刻称为epoch time(纪元)，记为0（1970年以前的时间timestamp为负数），当前时间就是相对于epoch time的秒数，称为timestamp。   
timestamp的值与时区毫无关系，因为timestamp一旦确定，其UTC时间就确定了，转换到任意时区的时间也是完全确定的，这就是为什么计算机存储的当前时间是以timestamp表示的，因为全球各地的计算机在任意时刻的timestamp都是完全相同的（假定时间已校准）。

|类型|描述|
|----------------|-----------------|
|%Y|四位的年份|
|%y|两位的年份|
|%m|两位的月份|
|%d|两位的日期号|
|%H|小时，24小时制00-23|
|%I|小时，12小时制01-12|
|%M|两位的分钟00-59|
|%S|秒00-61，其中60,61是闰秒|
|%w|星期日期0-6，其中0表示星期日|
|%U|一年中的星期数00-53。以星期天为每周第一天，一年中第一个星期天前的日期作为第“0”周|
|%W|一年中的星期数00-53。以星期一为每周第一天，一年中第一个星期一前的日期作为第“0”周|
|%z|格式为+HHMM或者-HHMM的UTC时区偏移；如果没有时区则为空。|
|%F|%Y-%m-%d的简写|
|%D|%m/%d/%y的简写|

# 时间戳Timestamp对象的生成

## pd.Timestamp

In [106]:
pd.Timestamp(164913461,unit='s')

Timestamp('1975-03-24 17:17:41')

In [2]:
pd.Timestamp("2019-12-12")

Timestamp('2019-12-12 00:00:00')

In [4]:
pd.Timestamp("2019/12/12")

Timestamp('2019-12-12 00:00:00')

In [5]:
pd.Timestamp(2019,12,12)

Timestamp('2019-12-12 00:00:00')

In [6]:
 pd.Timestamp(year=2019, month=12, day=12, hour=0,minute=0,second=0)

Timestamp('2019-12-12 00:00:00')

如果是一个日期序列的话，也可以处理吗？

In [13]:
mydate=pd.Series(["2019/12/10","2019/12/11","2019/12/12"])

pd.to_datetime(mydate)

0   2019-12-10
1   2019-12-11
2   2019-12-12
dtype: datetime64[ns]

In [16]:
mydate=pd.Series(["2019-12-10","2019/12/11","2019/12/12"])

pd.to_datetime(mydate)

0   2019-12-10
1   2019-12-11
2   2019-12-12
dtype: datetime64[ns]

## pd.to_datetime

In [18]:
pd.to_datetime("2019*12*12",format="%Y*%m*%d")
#errors有raise,ignore,coerce

Timestamp('2019-12-12 00:00:00')

In [8]:
pd.to_datetime("2019/12/12",format="%Y/%m/%d")
#errors有raise,ignore,coerce

Timestamp('2019-12-12 00:00:00')

## pd.date_range

In [20]:
s1=pd.date_range('2011-1-20',  freq='D',periods=8) 
s1

DatetimeIndex(['2011-01-20', '2011-01-21', '2011-01-22', '2011-01-23',
               '2011-01-24', '2011-01-25', '2011-01-26', '2011-01-27'],
              dtype='datetime64[ns]', freq='D')

In [21]:
s1[0]

Timestamp('2011-01-20 00:00:00', freq='D')

In [22]:
s1=pd.date_range('2011-1-20',  '2011-1-30',freq='D') 
s1

DatetimeIndex(['2011-01-20', '2011-01-21', '2011-01-22', '2011-01-23',
               '2011-01-24', '2011-01-25', '2011-01-26', '2011-01-27',
               '2011-01-28', '2011-01-29', '2011-01-30'],
              dtype='datetime64[ns]', freq='D')

# 日期数据转化

In [23]:
raw_data=pd.read_excel("上证指数收盘价历史数据(1990-2017.9).xlsx",header=0)
raw_data.head()

,日期,收盘价,最高价,最低价,开盘价,涨跌额,涨跌幅,成交量,成交额
0,2017-09-14,3371.4256,3391.6435,3361.3335,3383.4700,-12.7214,-0.3759,221306487,256744421274
1,2017-09-13,3384.1470,3387.1397,3366.5412,3374.7185,4.659,0.1379,194550715,230733408867
2,2017-09-12,3379.4880,3391.0694,3370.8519,3381.4870,3.0692,0.0909,272910319,325024951982
3,2017-09-11,3376.4188,3384.8100,3360.0462,3365.3506,11.1762,0.3321,219011019,256888810547
4,2017-09-08,3365.2426,3380.8898,3353.6876,3364.4275,-0.2548,-0.0076,198405184,235160227356

In [20]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6542 entries, 0 to 6541
Data columns (total 9 columns):
日期     6542 non-null datetime64[ns]
收盘价    6542 non-null float64
最高价    6542 non-null float64
最低价    6542 non-null float64
开盘价    6542 non-null float64
涨跌额    6542 non-null object
涨跌幅    6542 non-null object
成交量    6542 non-null int64
成交额    6542 non-null object
dtypes: datetime64[ns](1), float64(4), int64(1), object(3)
memory usage: 460.1+ KB

如果日期字段不是datetime格式的呢？比如object格式？该如何转化为datetime格式？

In [26]:
date=raw_data.日期.astype(str)
date

0       2017-09-14
1       2017-09-13
2       2017-09-12
3       2017-09-11
4       2017-09-08
           ...
6537    1990-12-25
6538    1990-12-24
6539    1990-12-21
6540    1990-12-20
6541    1990-12-19
Name: 日期, Length: 6542, dtype: object

In [27]:
pd.to_datetime(date)

0      2017-09-14
1      2017-09-13
2      2017-09-12
3      2017-09-11
4      2017-09-08
          ...
6537   1990-12-25
6538   1990-12-24
6539   1990-12-21
6540   1990-12-20
6541   1990-12-19
Name: 日期, Length: 6542, dtype: datetime64[ns]

In [36]:
date

0       2017-09-14
1       2017-09-13
2       2017-09-12
3       2017-09-11
4       2017-09-08
           ...
6537    1990-12-25
6538    1990-12-24
6539    1990-12-21
6540    1990-12-20
6541    1990-12-19
Name: 日期, Length: 6542, dtype: object

##  转化为指定格式.dt.strftime()

In [38]:
raw_data.日期.dt.strftime('%Y/%m/%d')

0       2017/09/14
1       2017/09/13
2       2017/09/12
3       2017/09/11
4       2017/09/08
           ...
6537    1990/12/25
6538    1990/12/24
6539    1990/12/21
6540    1990/12/20
6541    1990/12/19
Name: 日期, Length: 6542, dtype: object

In [39]:
raw_data.日期.dt.strftime("%Y/%m/%d")

0       2017/09/14
1       2017/09/13
2       2017/09/12
3       2017/09/11
4       2017/09/08
           ...
6537    1990/12/25
6538    1990/12/24
6539    1990/12/21
6540    1990/12/20
6541    1990/12/19
Name: 日期, Length: 6542, dtype: object

In [43]:
raw_data.日期.dt.strftime("%Y")

0       2017
1       2017
2       2017
3       2017
4       2017
        ...
6537    1990
6538    1990
6539    1990
6540    1990
6541    1990
Name: 日期, Length: 6542, dtype: object

## 提取时间元素

In [44]:
raw_data.日期.dt.year #把年调出来是一个int类型

0       2017
1       2017
2       2017
3       2017
4       2017
        ...
6537    1990
6538    1990
6539    1990
6540    1990
6541    1990
Name: 日期, Length: 6542, dtype: int64

In [45]:
raw_data.日期.dt.month #把月调出来是一个int类型

0        9
1        9
2        9
3        9
4        9
        ..
6537    12
6538    12
6539    12
6540    12
6541    12
Name: 日期, Length: 6542, dtype: int64

In [46]:
raw_data.日期.dt.day #把日调出来是一个int类型

0       14
1       13
2       12
3       11
4        8
        ..
6537    25
6538    24
6539    21
6540    20
6541    19
Name: 日期, Length: 6542, dtype: int64

In [48]:
raw_data.日期.dt.date #把日期调出来,是一个object类型

0       2017-09-14
1       2017-09-13
2       2017-09-12
3       2017-09-11
4       2017-09-08
           ...
6537    1990-12-25
6538    1990-12-24
6539    1990-12-21
6540    1990-12-20
6541    1990-12-19
Name: 日期, Length: 6542, dtype: object

In [26]:
data.日期.dt.time #把时间调出来,是一个object类型

0       00:00:00
1       00:00:00
2       00:00:00
3       00:00:00
4       00:00:00
          ...
6537    00:00:00
6538    00:00:00
6539    00:00:00
6540    00:00:00
6541    00:00:00
Name: 日期, Length: 6542, dtype: object

注意，上面提取的Series，都是object类型，要转化为datatime类型，还是需要用to_datetime方法。

# 日期索引对象DatetimeIndex

DatetimeIndex 的主要作用是之一是用作 Pandas 对象的索引，使用它作为索引除了拥有普通索引对象的所有基本功能外，还拥有简化频率处理的高级时间序列方法。

In [54]:
data=raw_data.copy()

In [55]:
data.head()

,日期,收盘价,最高价,最低价,开盘价,涨跌额,涨跌幅,成交量,成交额
0,2017-09-14,3371.4256,3391.6435,3361.3335,3383.4700,-12.7214,-0.3759,221306487,256744421274
1,2017-09-13,3384.1470,3387.1397,3366.5412,3374.7185,4.659,0.1379,194550715,230733408867
2,2017-09-12,3379.4880,3391.0694,3370.8519,3381.4870,3.0692,0.0909,272910319,325024951982
3,2017-09-11,3376.4188,3384.8100,3360.0462,3365.3506,11.1762,0.3321,219011019,256888810547
4,2017-09-08,3365.2426,3380.8898,3353.6876,3364.4275,-0.2548,-0.0076,198405184,235160227356

把上面的日期字段，转化为datetime类型，然后作为DataFrame的索引对象，会有什么效果？

In [56]:
data.日期

0      2017-09-14
1      2017-09-13
2      2017-09-12
3      2017-09-11
4      2017-09-08
          ...
6537   1990-12-25
6538   1990-12-24
6539   1990-12-21
6540   1990-12-20
6541   1990-12-19
Name: 日期, Length: 6542, dtype: datetime64[ns]

In [57]:
data.index=data.日期
data=data.drop(columns="日期")

In [58]:
type(data.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [59]:
data

,收盘价,最高价,最低价,开盘价,涨跌额,涨跌幅,成交量,成交额
日期,,,,,,,,
2017-09-14,3371.4256,3391.6435,3361.3335,3383.4700,-12.7214,-0.3759,221306487,256744421274
2017-09-13,3384.1470,3387.1397,3366.5412,3374.7185,4.659,0.1379,194550715,230733408867
2017-09-12,3379.4880,3391.0694,3370.8519,3381.4870,3.0692,0.0909,272910319,325024951982
2017-09-11,3376.4188,3384.8100,3360.0462,3365.3506,11.1762,0.3321,219011019,256888810547
2017-09-08,3365.2426,3380.8898,3353.6876,3364.4275,-0.2548,-0.0076,198405184,235160227356
...,...,...,...,...,...,...,...,...
1990-12-25,120.2500,120.2500,114.5500,120.0900,5.7,4.976,15,6000
1990-12-24,114.5500,114.5500,109.1300,113.5700,5.42,4.9666,32,31000
1990-12-21,109.1300,109.1300,103.7300,109.0700,4.74,4.5407,28,16000
1990-12-20,104.3900,104.3900,99.9800,104.3000,4.41,4.4109,197,84000
1990-12-19,99.9800,99.9800,95.7900,96.0500,None,None,1260,494000

## 索引和切片

In [60]:
data.head()

,收盘价,最高价,最低价,开盘价,涨跌额,涨跌幅,成交量,成交额
日期,,,,,,,,
2017-09-14,3371.4256,3391.6435,3361.3335,3383.4700,-12.7214,-0.3759,221306487,256744421274
2017-09-13,3384.1470,3387.1397,3366.5412,3374.7185,4.659,0.1379,194550715,230733408867
2017-09-12,3379.4880,3391.0694,3370.8519,3381.4870,3.0692,0.0909,272910319,325024951982
2017-09-11,3376.4188,3384.8100,3360.0462,3365.3506,11.1762,0.3321,219011019,256888810547
2017-09-08,3365.2426,3380.8898,3353.6876,3364.4275,-0.2548,-0.0076,198405184,235160227356

In [63]:
data["1999-01-28"]

,收盘价,最高价,最低价,开盘价,涨跌额,涨跌幅,成交量,成交额
日期,,,,,,,,
1999-01-28,1140.975,1150.579,1137.121,1147.866,-5.518,-0.4813,6254345,3988271880

In [66]:
data.head()

,收盘价,最高价,最低价,开盘价,涨跌额,涨跌幅,成交量,成交额
日期,,,,,,,,
2017-09-14,3371.4256,3391.6435,3361.3335,3383.4700,-12.7214,-0.3759,221306487,256744421274
2017-09-13,3384.1470,3387.1397,3366.5412,3374.7185,4.659,0.1379,194550715,230733408867
2017-09-12,3379.4880,3391.0694,3370.8519,3381.4870,3.0692,0.0909,272910319,325024951982
2017-09-11,3376.4188,3384.8100,3360.0462,3365.3506,11.1762,0.3321,219011019,256888810547
2017-09-08,3365.2426,3380.8898,3353.6876,3364.4275,-0.2548,-0.0076,198405184,235160227356

In [70]:
data["1991-02-01":"1991-02-05":-1]

               收盘价     最高价     最低价     开盘价   涨跌额     涨跌幅   成交量      成交额
日期
1991-02-01  129.51  129.97  129.45  129.50 -0.46 -0.3539   345   140000
1991-02-04  129.05  129.58  129.05  129.05 -0.46 -0.3552   553   273000
1991-02-05  128.58  128.58  128.53  128.56 -0.47 -0.3642  8562  4250000

In [71]:
data.sort_index()

,收盘价,最高价,最低价,开盘价,涨跌额,涨跌幅,成交量,成交额
日期,,,,,,,,
1990-12-19,99.9800,99.9800,95.7900,96.0500,None,None,1260,494000
1990-12-20,104.3900,104.3900,99.9800,104.3000,4.41,4.4109,197,84000
1990-12-21,109.1300,109.1300,103.7300,109.0700,4.74,4.5407,28,16000
1990-12-24,114.5500,114.5500,109.1300,113.5700,5.42,4.9666,32,31000
1990-12-25,120.2500,120.2500,114.5500,120.0900,5.7,4.976,15,6000
...,...,...,...,...,...,...,...,...
2017-09-08,3365.2426,3380.8898,3353.6876,3364.4275,-0.2548,-0.0076,198405184,235160227356
2017-09-11,3376.4188,3384.8100,3360.0462,3365.3506,11.1762,0.3321,219011019,256888810547
2017-09-12,3379.4880,3391.0694,3370.8519,3381.4870,3.0692,0.0909,272910319,325024951982
2017-09-13,3384.1470,3387.1397,3366.5412,3374.7185,4.659,0.1379,194550715,230733408867
2017-09-14,3371.4256,3391.6435,3361.3335,3383.4700,-12.7214,-0.3759,221306487,256744421274

## 其他方法

In [37]:
data.head()

,收盘价,最高价,最低价,开盘价,涨跌额,涨跌幅,成交量,成交额
日期,,,,,,,,
2017-09-14,3371.4256,3391.6435,3361.3335,3383.4700,-12.7214,-0.3759,221306487,256744421274
2017-09-13,3384.1470,3387.1397,3366.5412,3374.7185,4.659,0.1379,194550715,230733408867
2017-09-12,3379.4880,3391.0694,3370.8519,3381.4870,3.0692,0.0909,272910319,325024951982
2017-09-11,3376.4188,3384.8100,3360.0462,3365.3506,11.1762,0.3321,219011019,256888810547
2017-09-08,3365.2426,3380.8898,3353.6876,3364.4275,-0.2548,-0.0076,198405184,235160227356

In [73]:
data.index.dayofweek+1

Int64Index([4, 3, 2, 1, 5, 4, 3, 2, 1, 5,
            ...
            3, 1, 5, 4, 3, 2, 1, 5, 4, 3],
           dtype='int64', name='日期', length=6542)

In [36]:
data.index.dayofyear

Int64Index([257, 256, 255, 254, 251, 250, 249, 248, 247, 244,
            ...
              2, 365, 362, 361, 360, 359, 358, 355, 354, 353],
           dtype='int64', name='日期', length=6542)

In [80]:
data.index.weekofyear

Int64Index([37, 37, 37, 37, 36, 36, 36, 36, 36, 35,
            ...
             1,  1, 52, 52, 52, 52, 52, 51, 51, 51],
           dtype='int64', name='日期', length=6542)

In [74]:
data.index.is_month_start

array([False, False, False, ..., False, False, False])

我们可以通过 Timestamp 或 DateTimeIndex 访问一些时间/日期的属性。

这里列举一些常见的，想要查看所有的属性见官方链接：

Time/Date Components (http://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components)

In [83]:
data.index.is_month_end

array([False, False, False, ..., False, False, False])

# DateOffset对象

DateOffset 从名称中就可以看出来是要做日期偏移的，它的参数与 dateutil.relativedelta 基本相同，工作方式如下

In [75]:
date = pd.Timestamp("2018-06-25")
date

Timestamp('2018-06-25 00:00:00')

In [78]:
date - pd.DateOffset(years=1,months=3, days=1)  #当然可以再里面再添加years、hours等参数

Timestamp('2017-03-24 00:00:00')

# 与时间序列相关的方法

在做时间序列相关的工作时，经常要对时间做一些移动/滞后、频率转换、采样等相关操作，我们来看下这些操作如何使用吧。

## 移动df.shift()

如果你想移动或滞后时间序列，你可以使用 shift 方法。

In [79]:
index = pd.date_range("2018-6-24", periods=4, freq="W")
ts = pd.Series(['吃饭', '睡觉', '上厕所', '打豆豆'], index=index)
ts

2018-06-24     吃饭
2018-07-01     睡觉
2018-07-08    上厕所
2018-07-15    打豆豆
Freq: W-SUN, dtype: object

In [80]:
ts.shift(-2)       #将数据往后移两位

2018-06-24    上厕所
2018-07-01    打豆豆
2018-07-08    NaN
2018-07-15    NaN
Freq: W-SUN, dtype: object

In [89]:
ts.shift(-2)     #将数据往前移两位

2018-06-24    上厕所
2018-07-01    打豆豆
2018-07-08    NaN
2018-07-15    NaN
Freq: W-SUN, dtype: object

可以看到，Series 所有的值都移动了 2 个距离。

如果不想移动值，而是移动日期索引，可以使用 freq 参数，它可以接受一个 DateOffset 类或其他timedelta 类对象或一个 offset 别名。

所有别名详细介绍见：Offset Aliases (http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases)

In [44]:
ts.shift(2, freq='D')

2018-06-26     吃饭
2018-07-03     睡觉
2018-07-10    上厕所
2018-07-17    打豆豆
Freq: W-TUE, dtype: object

## 频率转换df.asfreq()

频率转换可以使用 asfreq 函数来实现。下面演示了将频率由周转为了天

In [81]:
data.head()

,收盘价,最高价,最低价,开盘价,涨跌额,涨跌幅,成交量,成交额
日期,,,,,,,,
2017-09-14,3371.4256,3391.6435,3361.3335,3383.4700,-12.7214,-0.3759,221306487,256744421274
2017-09-13,3384.1470,3387.1397,3366.5412,3374.7185,4.659,0.1379,194550715,230733408867
2017-09-12,3379.4880,3391.0694,3370.8519,3381.4870,3.0692,0.0909,272910319,325024951982
2017-09-11,3376.4188,3384.8100,3360.0462,3365.3506,11.1762,0.3321,219011019,256888810547
2017-09-08,3365.2426,3380.8898,3353.6876,3364.4275,-0.2548,-0.0076,198405184,235160227356

In [82]:
data=data.sort_index()
data.head()

               收盘价     最高价     最低价     开盘价   涨跌额     涨跌幅   成交量     成交额
日期
1990-12-19   99.98   99.98   95.79   96.05  None    None  1260  494000
1990-12-20  104.39  104.39   99.98  104.30  4.41  4.4109   197   84000
1990-12-21  109.13  109.13  103.73  109.07  4.74  4.5407    28   16000
1990-12-24  114.55  114.55  109.13  113.57  5.42  4.9666    32   31000
1990-12-25  120.25  120.25  114.55  120.09   5.7   4.976    15    6000

In [87]:
data[1:].asfreq(freq='2D')

,收盘价,最高价,最低价,开盘价,涨跌额,涨跌幅,成交量,成交额
日期,,,,,,,,
1990-12-20,104.3900,104.3900,99.9800,104.3000,4.41,4.4109,197.0,84000
1990-12-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-12-24,114.5500,114.5500,109.1300,113.5700,5.42,4.9666,32.0,31000
1990-12-26,125.2700,125.2700,120.2500,125.2700,5.02,4.1746,100.0,53000
1990-12-28,126.4500,126.4500,125.2800,126.3900,1.17,0.9339,108.0,88000
...,...,...,...,...,...,...,...,...
2017-09-05,3384.3170,3390.8233,3371.5706,3377.1968,4.734,0.1401,216552946.0,245596608276
2017-09-07,3365.4974,3387.7956,3363.1765,3383.6281,-19.8914,-0.5876,221118685.0,264037023512
2017-09-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-09-11,3376.4188,3384.8100,3360.0462,3365.3506,11.1762,0.3321,219011019.0,256888810547
2017-09-13,3384.1470,3387.1397,3366.5412,3374.7185,4.659,0.1379,194550715.0,230733408867

## 重采样resample对象

esample 表示根据日期维度进行数据聚合，可以按照分钟、小时、工作日、周、月、年等来作为日期维度，更多的日期维度见 Offset Aliases( http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases )。

比如我们想要查看每一年的成交量

In [88]:
data.head()

               收盘价     最高价     最低价     开盘价   涨跌额     涨跌幅   成交量     成交额
日期
1990-12-19   99.98   99.98   95.79   96.05  None    None  1260  494000
1990-12-20  104.39  104.39   99.98  104.30  4.41  4.4109   197   84000
1990-12-21  109.13  109.13  103.73  109.07  4.74  4.5407    28   16000
1990-12-24  114.55  114.55  109.13  113.57  5.42  4.9666    32   31000
1990-12-25  120.25  120.25  114.55  120.09   5.7   4.976    15    6000

In [53]:
data.resample("Y")["成交量"].sum()

日期
1990-12-31            1884
1991-12-31         1258450
1992-12-31        18243640
1993-12-31       153907556
1994-12-31       686346172
1995-12-31       517133001
1996-12-31      1178384863
1997-12-31      1272013024
1998-12-31      1457521860
1999-12-31      2388494426
2000-12-31      3434397008
2001-12-31      2970147444
2002-12-31      2349106210
2003-12-31      3130995928
2004-12-31      3853626296
2005-12-31      3984953878
2006-12-31     10282524705
2007-12-31     24323472663
2008-12-31     16283039153
2009-12-31     33637048392
2010-12-31     25909513462
2011-12-31     21109960286
2012-12-31     18855913817
2013-12-31     26459332613
2014-12-31     42386825292
2015-12-31    101470359632
2016-12-31     44635983674
2017-12-31     32067658038
Freq: A-DEC, Name: 成交量, dtype: int64

In [54]:
data.resample("M")["成交量"].sum()

日期
1990-12-31          1884
1991-01-31         67197
1991-02-28         50982
1991-03-31         24528
1991-04-30         70671
                 ...
2017-05-31    3228021196
2017-06-30    3204652287
2017-07-31    4187623651
2017-08-31    5059863051
2017-09-30    2322871573
Freq: M, Name: 成交量, Length: 322, dtype: int64

In [89]:
data

,收盘价,最高价,最低价,开盘价,涨跌额,涨跌幅,成交量,成交额
日期,,,,,,,,
1990-12-19,99.9800,99.9800,95.7900,96.0500,None,None,1260,494000
1990-12-20,104.3900,104.3900,99.9800,104.3000,4.41,4.4109,197,84000
1990-12-21,109.1300,109.1300,103.7300,109.0700,4.74,4.5407,28,16000
1990-12-24,114.5500,114.5500,109.1300,113.5700,5.42,4.9666,32,31000
1990-12-25,120.2500,120.2500,114.5500,120.0900,5.7,4.976,15,6000
...,...,...,...,...,...,...,...,...
2017-09-08,3365.2426,3380.8898,3353.6876,3364.4275,-0.2548,-0.0076,198405184,235160227356
2017-09-11,3376.4188,3384.8100,3360.0462,3365.3506,11.1762,0.3321,219011019,256888810547
2017-09-12,3379.4880,3391.0694,3370.8519,3381.4870,3.0692,0.0909,272910319,325024951982
2017-09-13,3384.1470,3387.1397,3366.5412,3374.7185,4.659,0.1379,194550715,230733408867
2017-09-14,3371.4256,3391.6435,3361.3335,3383.4700,-12.7214,-0.3759,221306487,256744421274

In [99]:
data

,收盘价,最高价,最低价,开盘价,涨跌额,涨跌幅,成交量,成交额
日期,,,,,,,,
1990-12-19,99.9800,99.9800,95.7900,96.0500,None,None,1260,494000
1990-12-20,104.3900,104.3900,99.9800,104.3000,4.41,4.4109,197,84000
1990-12-21,109.1300,109.1300,103.7300,109.0700,4.74,4.5407,28,16000
1990-12-24,114.5500,114.5500,109.1300,113.5700,5.42,4.9666,32,31000
1990-12-25,120.2500,120.2500,114.5500,120.0900,5.7,4.976,15,6000
...,...,...,...,...,...,...,...,...
2017-09-08,3365.2426,3380.8898,3353.6876,3364.4275,-0.2548,-0.0076,198405184,235160227356
2017-09-11,3376.4188,3384.8100,3360.0462,3365.3506,11.1762,0.3321,219011019,256888810547
2017-09-12,3379.4880,3391.0694,3370.8519,3381.4870,3.0692,0.0909,272910319,325024951982
2017-09-13,3384.1470,3387.1397,3366.5412,3374.7185,4.659,0.1379,194550715,230733408867
2017-09-14,3371.4256,3391.6435,3361.3335,3383.4700,-12.7214,-0.3759,221306487,256744421274

In [101]:
data.index.is_month_end

array([False, False, False, ..., False, False, False])

In [103]:
data.index.day==15

array([False, False, False, ..., False, False, False])

In [104]:
(data.index.is_month_end)|(data.index.day==15)

array([False, False, False, ..., False, False, False])

In [105]:
data[(data.index.is_month_end)|(data.index.day==15)]

,收盘价,最高价,最低价,开盘价,涨跌额,涨跌幅,成交量,成交额
日期,,,,,,,,
1990-12-31,127.6100,127.6100,126.4800,126.5600,1.16,0.9174,78,60000
1991-01-15,134.7400,134.7400,134.1900,134.2100,0.07,0.052,1446,1010000
1991-01-31,129.9700,130.4600,129.9300,129.9300,-0.47,-0.3603,510,244000
1991-02-28,133.0100,133.5200,132.9800,132.9900,-0.46,-0.3446,2258,1187000
1991-03-15,125.1700,125.6200,125.0800,125.0800,-0.46,-0.3662,790,403000
...,...,...,...,...,...,...,...,...
2017-06-15,3132.4863,3137.5854,3117.0840,3125.5865,1.8123,0.0579,146954245,171124529384
2017-06-30,3192.4269,3193.2411,3171.5703,3176.9481,4.3644,0.1369,121464543,143195603458
2017-07-31,3273.0283,3276.9461,3251.1941,3252.7519,19.7879,0.6083,246039440,253525920802
2017-08-15,3251.2617,3263.5892,3235.1013,3235.2298,13.9015,0.4294,182297997,204595858616
2017-08-31,3360.8103,3367.3581,3340.6865,3361.4621,-2.8163,-0.0837,234419781,269133107793