In [10]:
import jieba
import jieba.posseg as pseg
import codecs
import re
import os
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer

In [11]:
## load segement result ##
cwd = os.getcwd() #work place

seg_news = list()
category = list()

with codecs.open(cwd+'/data/seg.csv','r',encoding='utf-8') as seg_file:
    for seg in seg_file.readlines():
        line = seg.split(',')
        seg_news.append(line[0].strip())
        category.append(line[1].strip())

print(len(seg_news))
print(seg_news[0])
print(category[0])

500
﻿刘烨 获 聘 希望 家 爱心 大使 小朋友 开心 互动 新浪 娱乐 讯 中华 希望 树 儿童 救助 基金 组织 成立 旨在 帮助 周边 地区 贫困 家庭 学 儿童 农民工 子女 希望 家 正式 京 落户 举行 希望 家 成立 挂牌 仪式 忙于 宣传 新 电影 让 孤单 著名 演员 刘烨 积极 加入 到 希望 家 活动 中华 希望 树 儿童 救助 基金 爱心 大使 出席 活动 参与 挂牌 仪式 讲述 寓言 故事 送 上 图书 文具 方式 小朋友 进行 爱心 互动 仪式 作为 爱心 大使 刘烨 呼吁 关注 周边 地区 贫困 家庭 学 儿童 农民工 子女 使 贫困 儿童 获得 学前教育 机会 学习 多 知识 活动 刘烨 小朋友 分发 学习 用品 食品 小朋友 讲述 专心致志 寓言 故事 呼吁 多 人 能 参与 到 关 护 贫困 家庭 儿童 行列 来 刘烨 表示 人 父 孩子 互动 感觉 亲切 觉得 儿童 公益 活动 意义 会 不遗余力 支持 恰逢 刘烨 媒体 送 上 祝福 祝 天下 妈妈 节日 快乐 希望 家 活动 结束 刘烨 继续 投入 到 舒淇 主演 新片 让 孤单 宣传 刘烨 舒淇 出演 经历 磨难 收获 幸福 欢喜 冤家 让 孤单 登陆 全国 院线
娛樂

In [12]:
## 計算tfidf ##
vectorizer = TfidfVectorizer(min_df = 5)
tfidf = vectorizer.fit_transform(seg_news)
print('tfidf shape:',tfidf.shape)

tfidf shape: (500, 3398)

In [13]:
## 開始分群 ##
from sklearn.cluster import KMeans

print('Start Kmeans:')

clf = KMeans(n_clusters=5, random_state=3)
clf.fit(tfidf)

print(clf.cluster_centers_) #群中心

# 每個樣本所属的群
print(clf.labels_)

pred = list()

i = 1

while i <= len(clf.labels_):
    #print(i, clf.labels_[i-1],category[i-1])
    pred.append(str(clf.labels_[i-1]))
    i = i + 1

#print(pred)
    
print(clf.inertia_)

Start Kmeans:
[[0.         0.0001495  0.00555704 ... 0.         0.00231015 0.        ]
 [0.         0.         0.00025703 ... 0.         0.         0.        ]
 [0.00083032 0.00160062 0.00269074 ... 0.         0.         0.00112061]
 [0.00035223 0.         0.00360083 ... 0.01589528 0.         0.0019274 ]
 [0.00224126 0.00038023 0.00838919 ... 0.         0.         0.00129304]]
[4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4
 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4
 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 1 1 0 1 1 1 1 0 1 1 1
 0 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 0 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 4
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 3 1 3 3 3 3 3 3 3 3 3 3 3 3 3 3 1 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
 3 3 3 3 3 3 3 3 3 3 2 3 3 3 3 3 3 3 3 3 3 3 3 1 1 1 3 3 3 3 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 1 2 2 2 2 2 2 1 3 2 2 2 2 2 2 2 2]
448.81252956876983

In [14]:
import numpy as np

y_true = np.array(category)
y_pred = np.array(pred)

import pandas as pd

pd.crosstab(y_true, y_pred, rownames=['Actual'], colnames=['Cluster'])

Cluster   0   1   2   3    4
Actual
娛樂        0   0   0   0  100
社會        8  92   0   0    0
財金       98   1   0   0    1
遊戲        0   5   1  94    0
體育        0   2  97   1    0

In [15]:
(500-19)/500

0.962

In [16]:
import pandas as pd

result = pd.crosstab(y_true, y_pred, rownames=['Actual'], colnames=['Cluster'])

#print(result.iat[0,2])
s = result.sum(axis = 0)
m = result.max(axis = 0)
print(s)
print(m)
print((500 - sum(s - m)) / 500)
print(sum(m)/sum(s))

Cluster
0    106
1    100
2     98
3     95
4    101
dtype: int64
Cluster
0     98
1     92
2     97
3     94
4    100
dtype: int64
0.962
0.962

In [17]:
rs = -1
err = 1000

for i in range(20):
    clf = KMeans(n_clusters=5, random_state=i)
    clf.fit(tfidf)

    y_true = np.array(category)
    y_pred = np.array(clf.labels_)

    result = pd.crosstab(y_true, y_pred, rownames=['Actual'], colnames=['Cluster'])

    s = result.sum(axis = 0)
    m = result.max(axis = 0)
    
    if sum(s - m) < err:
        err = sum(s - m)
        rs = i

    print('i = ', i, "Correct Rate: ", (500 - sum(s - m)) / 500)

print('random_state = ', rs, 'is the best one.')

i =  0 Correct Rate:  0.87
i =  1 Correct Rate:  0.864
i =  2 Correct Rate:  0.884
i =  3 Correct Rate:  0.962
i =  4 Correct Rate:  0.914
i =  5 Correct Rate:  0.882
i =  6 Correct Rate:  0.954
i =  7 Correct Rate:  0.948
i =  8 Correct Rate:  0.952
i =  9 Correct Rate:  0.948
i =  10 Correct Rate:  0.962
i =  11 Correct Rate:  0.886
i =  12 Correct Rate:  0.96
i =  13 Correct Rate:  0.894
i =  14 Correct Rate:  0.956
i =  15 Correct Rate:  0.946
i =  16 Correct Rate:  0.884
i =  17 Correct Rate:  0.97
i =  18 Correct Rate:  0.892
i =  19 Correct Rate:  0.912
random_state =  17 is the best one.